{% block head %}
	<script type="text/javascript" src="/media/radio2000/includes/gallery.js"></script>
{% endblock %}

<div class="post_body has_gallery">
    <div id="gallery">
	    <div id="slideshow" class="slideshow"></div>
	</div>
	<div id="thumbs" class="thumb_carousel">
	    <p class="thumbs_prev"></p>
		<ul class="thumbs">
            {% for item in object.get_items %}
		        <li><a class="thumb" src="{% url gallery_item_ajax_galleriffic item.slug %}" href="{{ item.get_galleryimage_large_url }}"><img src="{{ item.get_galleryitem_thumbnail_url }}" width="60" height="60" /><span></span></a></li>
            {% endfor %}
		</ul>
		<p class="thumbs_next"></p>
	</div>
</div>

